.form-control{
    min-width: 250px;
    max-width: 400px;
    height: 20px;
    padding: 4px;
    background: #f7f7f7;
    border-radius: 5px;
    border: solid 1px #e2e2e2;
}
.submit-button{
    background-color: #b5b9b5;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
}
.form-body{
    text-align: center;
    position: absolute;
    top: 25%;
    left: 41%;
    background: beige;
    padding: 0px 40px 30px;
}