@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 4.5rem;
        padding-left: 2.5rem;
    
    }

}
.collapse {
    display: none;
}
.collapse.show {
    display: block;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
}
.navbar-toggler:focus, .navbar-toggler:hover {
    text-decoration: none;
}